<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713073180914-ddeso74ttm5sgkulcrtl98tcmjc3k6fv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713073180914-ddeso74ttm5sgkulcrtl98tcmjc3k6fv</string>
	<key>API_KEY</key>
	<string>AIzaSyDWgK8fUzpSxepcLzVH8p5GHW7B5ZfVq7U</string>
	<key>GCM_SENDER_ID</key>
	<string>713073180914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AgileAssociates.slack</string>
	<key>PROJECT_ID</key>
	<string>slack-2681b</string>
	<key>STORAGE_BUCKET</key>
	<string>slack-2681b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713073180914:ios:3abc4cf7021d5c3cc3106b</string>
</dict>
</plist>